asgiref==3.8.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==43.0.1
defusedxml==0.7.1
Django==3.2.25
setuptools>=65.7.0
django-allauth==0.63.6
django-crispy-forms==1.14.0
django-extensions==3.2.3
django-phonenumber-field==7.3.0
django-suit==2.0a1   # still alpha, no newer stable
idna==3.10
lazy-object-proxy==1.10.0
oauthlib==3.2.2
phonenumberslite==8.13.48
Pillow==11.0.0
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.9.0
python3-openid==3.2.0
pytz==2024.2
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.1
toml==0.10.2         # still latest
tzdata==2024.2
urllib3==2.2.3
wrapt==1.16.0
xlwt==1.3.0          # last release in 2017, no updates
